{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<header class="py-5">
    <div class="container px-lg-5">
        {% include 'users/messages.html' %}
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Welcome to PhysNotes</h1>
                <p class="fs-5">
                    We aim to provide a library of easy to understand material to many difficult topics in physics. 
                    Whether you are trying to do well in a college level physics course or just looking to expand your physics knowledge, you can browse and study our collection of material for free!
                </p>
                <a class="btn btn-danger btn-lg rounded-pill shadow px-3" href="{% url 'blog:categories' %}">Explore</a>
            </div>
        </div>
    </div>
</header>
<!--features-->
{% include 'blog/about_tags.html' %}
{% endblock header %}

{% block content %}
{% endblock content %}