{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    <article class="container">
        <div class="col-lg-8 m-auto">
            <h1>Add Comment</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="my-5">
                    <button class="btn btn-success rounded-pill" type="submit">Comment</button>
                    <a class="btn btn-danger rounded-pill ml-3" href="{% url 'blog:post_detail' post_id %}">Cancel</a>
                </div>
            </form>
        </div> 
    </article> 
</section>
<!--markdown form editor-->
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
document.getElementById("id_comment").required = false;
window.onload = function() {
    var simplemde = new SimpleMDE(
        {
            element: document.getElementById("id_comment"),
            spellChecker: true,
        }
    )
};
</script>
{% endblock %}
