{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="col-lg-6 m-auto">
            <h1>Contact Us</h1>
            <form name="cForm" id="cForm" method="post" action="https://formspree.io/f/xnqoovrj">
                <fieldset>
                    <div class="form-field">
                        <input name="cName" type="text" id="cName" class="mb-3" placeholder="Your Name" value="">
                    </div>
                    <div class="form-field">
                        <input name="cEmail" type="text" id="cEmail" class="mb-3" placeholder="Your Email" value="">
                    </div>
                    <div class="form-field">
                        <input name="cWebsite" type="text" id="cWebsite" class="mb-3" placeholder="Website"  value="">
                    </div>
                    <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="mb-3" placeholder="Your Message" ></textarea>
                    </div>
                    <button type="submit" class="submit btn btn-dark rounded-pill">Submit</button>
                </fieldset>
            </form> 
        </div> 
    </div> 
</section>
{% endblock %}