{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    {% include "users/messages.html" %}
    <article class="container overflow-auto">
        <div class="col-lg-12 m-auto">
            <h1 class="text-center font-weight-bold">Categories</h1>
        </div> 
        <div class="col-lg-8 m-auto">
            <h3>Manage Categories</h3>
            <div class="d-flex mb-4">
                <div class="ml-3">
                    <a href="{% url 'blog:category_create' %}">New Category</a>
                </div>
            </div>
            <hr />
            {% for obj in object_list %}
            <div class="d-flex mb-4">
                <div class="ml-3">
                    {{ obj.category_name }} <i class="bi bi-arrow-right-short"></i>&nbsp;&nbsp;<a href="{% url 'blog:category_update' obj.pk %}">Update</a> <a href="{% url 'blog:category_delete' obj.pk %}">Delete</a>
                </div>
            </div>
                {% for tag in tags %}
                    {% for x in tag.category.all() %}
                        {% if x.pk == ob.pk %}
                        <div class="">
                            {{ tag.tag_name }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div> 
    </article> 
</section>
{% endblock content %}