<nav class="header__nav-wrap">
    <h2 class="header__nav-heading h6">Site Navigation</h2>
    <ul class="header__nav">
        <li class="current"><a href="{% url 'blog:home' %}" title="">Home</a></li>
        <li class="has-children">
            <a href="#" title="">Categories</a>
            <ul class="sub-menu">
                <li><a href="{% url 'blog:tag' tag='Classical-Mechanics' %}">Classical Mechanics</a></li>
                <li><a href="{% url 'blog:tag' tag='Quantum-Mechanics' %}">Quantum Mechanics</a></li>
                <li><a href="{% url 'blog:tag' tag='Nuclear-Physics' %}">Nuclear Physics</a></li>
                <li><a href="{% url 'blog:tag' tag='Optics' %}">Optics</a></li>
                <li><a href="{% url 'blog:tag' tag='Fluids' %}">Fluids</a></li>
                <li><a href="{% url 'blog:tag' tag='Linear-Algebra' %}">Linear Algebra</a></li>
                <li><a href="{% url 'blog:tag' tag='Special-Relativity' %}">Special Relativity</a></li>
                <li><a href="{% url 'blog:tag' tag='Electrodynamics' %}">Electrodynamics</a></li>
                <li><a href="{% url 'blog:tag' tag='Astronomy' %}">Astronomy</a></li>
            </ul>
        </li>
        <!--<li><a href="{% url 'blog:about' %}" title="About">About</a></li>-->
        <li><a href="{% url 'blog:contact' %}" title="Contact">Contact</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:profile' %}" title="About">Profile</a></li>
        <li><a href="{% url 'users:logout' %}" title="About">Logout</a></li>
        {% endif %}
    </ul> 
    <a href="{% url 'blog:home' %}" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
</nav>