{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<script src="{% static 'js/pdfobject.js' %}"></script>
<section class="py-5">

    <article class="container">
        <div class="col-lg-10 m-auto">
            <h1>{{ object.title }}</h1>
            <ul class="list-style-none">
                <li class="list-item">{{ object.date_posted }} &middot; {{ object.read_time }} minutes</li>
                <li class="list-item">
                    Also Available In
                    {% for tag in object.tag %}
                        <a href="{% url 'blog:category' tag %}">{{ tag }}</a>
                    {% endfor %}
                </li>
            </ul>

            <img src="{{ object.featured_image.url }}" sizes="(max-width: 2000px) 100vw, 2000px" alt="{{ object.title }} Featured Image" >
            
            <p class="lead">
                {{ object.preview }}            
            </p>
            <div class="content-markdown text-dark">
                {{ object.content }}
            </div>
            {% if object.note %}
                <div id="note">
                </div>
                <script>
                    PDFObject.embed("{{ object.note.url }}", "#note");
                </script>
                <a href="{{ object.note.url }}" target="_blank">Download PDF</a>
            {% else %}
                No notes currently
            {% endif %}
            <hr class="my-5" />
            {% if object.author == request.user %}
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post_update' object.id %}">Update</a>
                    <a class="btn btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post_delete' object.id %}">Delete</a>
                </div>
            </div>
            <hr class="my-5" />
            {% endif %}
            <p>
                {% for tag in object.tag %}
                    <a href="{% url 'blog:category' tag %}">{{ tag }}</a>
                {% endfor %}
            </p> 
        </div>
    </article>
</section>
{% endblock %}