{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    <article class="row format-standard">
        <div class="col-lg-6 m-auto">
            <h3>Article</h3>
            <form method="POST" class="uniForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form.title|as_crispy_field }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form.read_time|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form.preview|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form.featured_image|as_crispy_field }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form.note|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form.content|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Tags (Choose 4 Max)</label>
                                    {% for value in form.tag %}
                                    <div class="form-check bg-gray text-dark lift rounded-pill my-2 px-4 py-2 font-weight-bold">
                                        <label class="form-check-label" for="gridCheck">
                                            {{ value }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-danger rounded-pill mt-4" type="submit">Post</button>
                            <a class="btn btn-dark rounded-pill mt-4" href="{% url 'users:profile' %}">Back to Profile</a>
                        </div>
            </form>
        </div> 
    </div>
</section>
<!--markdown form editor-->
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
document.getElementById("id_content").required = false;
window.onload = function() {
    var simplemde = new SimpleMDE(
        {
            autofocus: true,
            element: document.getElementById("id_content"),
            spellChecker: true,
            toolbar: false,
            forceSync: true
        }
    )
};
</script>
{% endblock %}