{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<script src="{% static 'js/pdfobject.js' %}"></script>
<section class="py-5">
    <article class="container overflow-auto">
        <div class="col-lg-8 m-auto">
            <h1 class="font-weight-bold text-center">{{ object.title }}</h1>
            <p class="my-5">
                Also Available In
                {% for tag in object.tag %}
                   
                {% endfor %}
            </p>

            <img src="{{ object.featured_image.url }}" class="img-fluid m-auto mb-5" max-width="850px" max-height="350px" alt="{{ object.title }} Featured Image" >
            
            <p class="lead font-weight-bold">
                {{ object.preview }}            
            </p>
            <div class="content-markdown text-dark">
                {{ object.content }}
            </div>
            {% if object.note %}
                <div id="note">
                </div>
                <script>
                    PDFObject.embed("{{ object.note.url }}", "#note");
                </script>
                <a href="{{ object.note.url }}" target="_blank">Download PDF</a>
            {% endif %}
            <hr class="my-5" />
            <div class="text-dark">
                <h2>Comments</h2>
                {% if comments %}
                    {% for comment in comments %}
                    <div class="col-lg-8">
                        <div class="my-3">
                                <h6>{{ comment.user }}</h6>
                                <p>{{ comment.comment }}</p>
                                <hr />
                        </div>
                    </div>
                    {% endfor %}
                    <a class="btn btn-danger rounded-pill my-3" href="{% url 'blog:add_comment' object.id %}">Add Comment</a>
                <hr class="my-5" />
                {% else %}
                    Be the first to comment. 
                    <br>
                    <a class="btn btn-danger rounded-pill my-3" href="{% url 'blog:add_comment' object.id %}">Add Comment</a>
                    <hr class="my-5" />
                {% endif %}
            </div>
            {% if object.author == request.user %}
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-danger rounded-pill my-3" href="{% url 'blog:post_update' object.id %}">Update</a>
                    <a class="btn btn-dark rounded-pill my-3" href="{% url 'blog:post_delete' object.id %}">Delete</a>
                </div>
            </div>
            <hr class="my-5" />
            {% endif %}
            <p>
                Also Available In
                {% for tag in object.tag %}
                   
                {% endfor %}
            </p>
        </div>
    </article>
</section>
{% endblock %}