{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    <div class="row">
        <div class="col-lg-6 m-auto">
            <h1>Login</h1>
            <p>
                If you don't already have an account please <a href="{% url 'users:register' %}">register</a>
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="my-5">
                    <button class="btn btn-marketing btn-dark rounded-pill" type="submit">Login</button>
                    <a class="text-dark ml-3" href="{% url 'password_reset' %}">Forgot Password</a>
                </div>
            </form>
        </div> 
    </div> 
</section>
{% endblock %}
