{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="py-5">
    <div class="row">
        <div class="col-lg-6 m-auto">
            <h1>Register</h1>
            <p>
                If you already have an account please <a href="{% url 'users:login' %}">login</a>
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="my-5">
                    <button class="btn btn-marketing btn-dark rounded-pill" type="submit">Register</button>
                </div>
            </form>
        </div> 
    </div> 
</section>
{% endblock %}
